@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ubuntu';
  font-style: normal;
  src: url('/src/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ubuntu-medium';
  font-style: normal;
  src: url('/src/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'ubuntu-bold';
  font-style: normal;
  src: url('/src/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: #2D3748;
}

::-webkit-scrollbar-thumb{
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
  background: #718096;
}